.nav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
}

.btn-nav {
  margin-right: 2rem;
  font-size: 1.3rem;
}
.cart {
  margin-left: 35%;
}
.carrito {
  color: black;
  cursor: pointer;
  border-radius: 15px;
  margin: 1 rem;
  padding: 0.3rem;
}

.brand {
  font-size: 1.5rem;
  margin-right: 2rem;
}
.brandname {
  font-size: 1.5rem;
  padding-right: 3rem;
}

.logo {
  width: 2rem;
  margin-right: 1rem;
}

.btn-xbox:hover {
  color: greenyellow;
}

.btn-ps:hover {
  color: #0247b6;
}

.btn-pc:hover {
  color: gold;
}

@media screen and (max-width: 700px) {
  .nav {
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .brandname {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
  }
  .logo {
    display: none;
  }

  .btn-pc,
  .btn-ps,
  .btn-xbox {
    font-size: 1.3rem;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .cart {
    margin-left: 0;
  }
  .carrito {
    width: 4rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border-radius: 5px;
  }

  .navbar-toggler-icon {
    background-color: aliceblue;
  }

  .navbar-toggler,
  .collapsed {
    background-color: aliceblue;
  }
}
